<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Jeju Tickets</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        Clicker
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Jeju Tickets</ion-title>
      <ion-button>
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="top">
          <h3>{{title}}</h3>
          <div class="status">
            <ion-icon name="checkmark" color="danger"></ion-icon>
            <h6>{{scn_state}}</h6>
          </div>
        </div>
        <div class="scanner-area">
          <zxing-scanner [formats]="allowedFormats" [autostart]="true" [autofocusEnabled]="true"
            [device]="selectedDevice" (camerasFound)="onCamerasFound($event)" (scanSuccess)="onScanSuccess($event)"
            (scanError)="onScanError($event)"></zxing-scanner>
            <div class="scan-res">
              <ion-icon></ion-icon>
              <h4>{{ongoing_op}}</h4>
              <p>{{op_exp}}</p>
              <button>{{next_op}}</button>
            </div>
          <p *ngIf="scanResult">Scan Result: {{ scanResult }}</p>
        </div>

        <ion-row>
          <mat-card class="info-card">
            <div class="progress">
              <h3>{{processed_total}}</h3>
              <h6>PROCESSED TICKETS</h6>
              <div class="bar">
                <mat-progress-bar mode="determinate" [value]="(processed_total/tickets_total)*100"></mat-progress-bar>
                <h6>
                  {{ "PROGRESS: " + (processed_total/tickets_total)*100 + "%"}}
                </h6>
              </div>
            </div>
          </mat-card>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>