<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">scanner</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="top">
          <h3>{{title}}</h3>
          <div>
            <img src="../../assets/icon/favicon.png" />
            <h6>Device Info</h6>
          </div>
          <div class="Status">
            <h6>{{"Status: " + conn_stat}}</h6>
            <h6>{{"Verification: " + dev_vrf}}</h6>
            <h6>{{"Load: " + tickets_total}}</h6>
          </div>
        </div>
        <div>
          <!-- some.component.html -->
          <zxing-scanner [formats]="allowedFormats"></zxing-scanner>
        </div>

        <ion-row>
          <div class="info-card">
            <div class="progress">
              <h3>{{processed_total}}</h3>
              <h6>PROCESSED TICKETS</h6>
            </div>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
